
.plannedTasks{
    display: flex;
    text-align: center;
    gap: 20px;
    padding: 20px 20px;
}

.taskContainer{
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 2px,
    rgba(0, 0, 0, 0.06) 20px 14px 24px;    
    border-radius: 3px;
    height: 292px;
    overflow-y: auto;
    flex: 1;
}

.taskContainer.active{
  background-color: #f7f9fb;
  box-shadow: #1eb99d 0 0 0 2px, rgba(0, 0, 0, 0.12) 20px 14px 24px;    
}

.weekendWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 400px;
}

.taskContainer::-webkit-scrollbar {
    width: 4px;
}

.taskContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.taskDiv{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.weekEndTaskDiv {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.taskList{
    list-style: none;
}

.task{
    padding: 10px 10px 10px 10px;
    text-align: left;
    background-color: #2e2e30;
    color: #eeeeee;
    margin: 10px 10px 10px 10px;
    border-radius: 4px;
    cursor: default;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task:hover{
    background-color: #3a3b3c;
}

.task[aria-grabbed="true"] {
    transform: scale(1.025);
    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5), -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);    
}

/* Delete functionality */

.deleteBtn{
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.1s;
}

.task:hover .deleteBtn{
    opacity: 1;
}

.taskSelected {
    outline: 2px solid #4a90e2;
}

.task:hover.taskSelected .deleteBtn {
    opacity: 0;
    pointer-events: none;
}

/* Complete task functionality */

.circle {
    width: 16px;
    height: 16px;
    border: 2px solid #888;
    border-radius: 50%;
    cursor: default;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkIcon {
    opacity: 0;
}

.circle:hover .checkIcon{
    opacity: 1;
}

.left_part_task{
    display: flex;
    gap: 6px;
}

.left_part_task span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 210px;    
}

.taskDone {
    text-decoration: line-through;
}

.circleDone {
    color: #888;
    background-color: #fff;
    border: 2px solid #fff;
}

.circleDone .checkIcon{
    opacity: 1;
}