
.plannedTasks{
    display: flex;
    text-align: center;
    gap: 20px;
    padding: 20px 20px;
}

.taskContainer{
    border: 1px solid rgb(206, 206, 206);
    border-radius: 3px;
    height: 292px;
    overflow-y: auto;
    max-height: 292px;
    flex: 1;
}

.taskContainer::-webkit-scrollbar {
    width: 4px;
}

.taskContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.taskDiv{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.taskList{
    list-style: none;
}

.task{
    padding: 10px 10px 10px 10px;
    text-align: left;
    background-color: #2e2e30;
    color: #eeeeee;
    margin: 10px 10px 10px 10px;
    border-radius: 4px;
    cursor: default;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task:hover{
    background-color: #3a3b3c;
}

/* Delete functionality */

.deleteBtn{
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.1s;
}

.task:hover .deleteBtn{
    opacity: 1;
}

/* Complete task functionality */

.circle {
    width: 16px;
    height: 16px;
    border: 2px solid #888;
    border-radius: 50%;
    cursor: default;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkIcon {
    opacity: 0;
}

.circle:hover .checkIcon{
    opacity: 1;
}

.left_part_task{
    display: flex;
    gap: 6px;
}

.left_part_task span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;    
}

.taskDone {
    text-decoration: line-through;
}

.circleDone {
    color: #888;
    background-color: #fff;
    border: 2px solid #fff;
}

.circleDone .checkIcon{
    opacity: 1;
}