.addTask {
    padding: 20px;
}

.taskTitle{
    color: #3a5ada;
    padding-bottom: 20px;
}

.inputTask{
    height: 34px;
    width: 35%;
    padding: 0px 10px 0px 10px;
}

.pendingTasks{
    padding: 20px 20px 20px 20px;
    width: 90%;
    height: 200px;
}

.listTasks{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    gap: 20px;
}

.task{
    padding: 10px 10px 10px 10px;
    background-color: #2e2e30;
    color: #eeeeee;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

.task[aria-grabbed="true"]{
    transform: scale(1.025);
    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.5), -1px 0 15px 0 rgba(34, 33, 81, 0.01), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);
}

.task span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 230px;
}

/* Delete functionality */

.deleteBtn{
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.1s;
}

.task:hover .deleteBtn{
    opacity: 1;
}

.taskSelected {
    outline: 2px solid #4a90e2;
}

.task:hover.taskSelected .deleteBtn {
    opacity: 0;
    pointer-events: none;
}